body {
  margin: 0;
}

.main-body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-block {
  height: 36rem;
  width: 40%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
}

.image-div {
  display: flex;
  align-content: start;
  height: 100%;
  width: 50%;
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem 0 0 1rem;
}

.description-div {
  width: 50%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  background-color: white;
}

.text-div {
  height: 100%;
  margin-left: 2rem;
  margin-top: 2.5rem;
  margin-right: 2rem;
  padding-right: 0.6rem;
  padding-left: 0.5rem;
}

.text-div p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
  font-size: 1.1rem;
  line-height: 2rem;
}

.text-div h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-size: 2.7rem;
  line-height: 2.5rem;
}

.price-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.5rem;
}

button {
  width: 100%;
  height: 10%;
  border: none;
  border-radius: 7px;
  background-color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 5%;
}

button img {
  width: 7%;
}

button p {
  font-family: "Montserrat", sans-serif !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

button:hover {
  background-color: hsl(157, 35%, 20%);
}

@media only screen and (max-width: 1500px) {
  /* small monitor */
  .text-div p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .text-div h1 {
    font-size: 1.9rem;
    line-height: 2rem;
  }

  button p {
    font-size: 0.8rem !important;
  }

  .product-block {
    height: 27rem;
  }
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .main-body {
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-block {
    margin-top: 3rem;
    height: 70vh;
    width: 80vh;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .image-div {
    width: 100%;
    height: 100%;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem 0 0 1rem;
  }

  .text-div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .main-body {
    width: 100%;
    height: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }

  .product-block {
    margin-top: 3rem;
    height: 100%;
    width: 80%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }

  .image-div {
    width: 100%;
    height: 15rem;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem 1rem 0 0;
  }

  .text-div {
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .description-div {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
